<!-- Core Validation -->
<div>Project Name: {{ project.projectName | json}}</div>
<div>Created By: {{ project.creatorName | json}}</div>
<div>Add New</div>

<br /><br />

<div>Target Customer</div>

<div>
  <label for="targetCustomerDefinition">Target customer definition: </label>
  <input type="text" name="targetCustomerDefinition" size="100" ng-model="project.targetCustomer1.targetCustomerDefinition" placeholder="Briefly..."/>
</div>

<div>
  <label for="isCustomer">Are you a target customer? </label><br />
  <input type="radio" name="isCustomer" ng-model="project.targetCustomer1.isCustomer" ng-value="true">
  Yes, I would use this product.
  <br />
  <input type="radio" name="isCustomer" ng-model="project.targetCustomer1.isCustomer" ng-value="false">
  No, I'm not a target customer.
  <br />
  <span ng-hide="project.targetCustomer1.isCustomer"><input type="checkbox" name="knowsCustomer" value="false" ng-model="project.targetCustomer1.knowsCustomer" /> Do you know anyone in this customer base?</span></input>
</div>

<br /><br />

<div ng-show="project.targetCustomer1.targetCustomerDefinition">
  <label for="doTheyPay">Do they pay: </label>
  <input type="text" name="doTheyPay" size="100" ng-model="project.targetCustomer1.doTheyPayText" placeholder="placeholder"/>
  <br />
  <input type="radio" name="doTheyPay5" ng-model="project.targetCustomer1.doTheyPayValue" ng-value=5>
  More than the rent on a San Francisco apartment!
  <br />
  <input type="radio" name="doTheyPay4" ng-model="project.targetCustomer1.doTheyPayValue" ng-value=4>
  More than the rent on an Omaha apartment.
  <br />
  <input type="radio" name="doTheyPay3" ng-model="project.targetCustomer1.doTheyPayValue" ng-value=3>
  Yes, about what they pay to fill up their Subarus.
  <br />
  <input type="radio" name="doTheyPay2" ng-model="project.targetCustomer1.doTheyPayValue" ng-value=2>
  Yes, but no more than they'd pay for a coffee at Starbucks.
  <br />
  <input type="radio" name="doTheyPay1" ng-model="project.targetCustomer1.doTheyPayValue" ng-value=1>
  Look in a Whole Foods dumpster, they throw out cases of it every night.
</div>




<form ng-submit="defineTargetCustomer(targetCustomer)" name="newTargetCustomer">
  <div>
    <input type="submit" value="Add Another Target Customer"></input>
  </div>
</form>

<a href="/#/"><button>Return to Home Page</button></a>
