<!-- Core Validation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Valid Start: <strong>{{ project.projectName }}</strong></a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-center">
        <li class="active"><a href="#">Definitions</a></li>
        <li><a href="#">Market</a></li>
        <li><a href="#">Team/Resources</a></li>
        <li><a href="#">Initial Plan</a></li>
      </ul>
      <span class="navbar-text navbar-right">UserName: <strong>{{ project.creatorName }}</strong></span>
    </div>
  </div>
</nav>

<div class="container">

  <div class="col-md-2">

    <div class="panel panel-default pull-right left-col-panel">
      <div class="panel-body pull-right active">
        Target Customer:
      </div>
    </div>

    <div class="panel panel-default pull-right left-col-panel">
      <div class="panel-body pull-right">
        Customer Problem/Need:
      </div>
    </div>

    <div class="panel panel-default pull-right left-col-panel">
      <div class="panel-body pull-right">
        Your Offering:
      </div>
    </div>

    <div class="panel panel-default pull-right left-col-panel">
      <div class="panel-body pull-right">
        Key Differentiators:
      </div>
    </div>

  </div> <!-- col-md-3 -->

  <div class="col-md-8">

    <div class="row"> <!-- row 1, "Add New +" -->
      <h1>
        <div class="col-md-4">
          <button type="button" class="btn btn-primary">Add New&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span></button>
        </div>
        <div class="col-md-8">
          <span class="text-center">Target Customer</span>
        </div>
      </h1>
      <p>&nbsp;</p>
    </div> <!-- close row 1 -->

    <div class="panel panel-default">   <!-- Panel around panels -->
      <div class="panel-body">

        <div class="panel panel-default">   <!-- Definition -->
          <div class="panel-body form-group has-success has-feedback">
            <label class="col-sm-2 control-label" for="targetCustomerDefinition">Definition:</label> <!-- green is from has-success -->
            <div class="col-sm-8">
              <input type="text" class="form-control" id="targetCustomerDefinition" ng-model="project.targetCustomer1.targetCustomerDefinition" placeholder="Briefly describe your customers’ qualities (e.g., spendthrift mobile gamer)" ng-mouseleave="mouseleaveTargetCustomer = true">
              <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
            <div class="col-md-2">
              {{targetCustomerDefinitionSaved}}
            </div>
          </div>
        </div>   <!-- close Definition -->

        <div class="panel panel-default" ng-show="mouseleaveTargetCustomer">   <!-- Do They Pay -->
          <div class="panel-body form-group has-success has-feedback">
            <label class="col-sm-2 control-label" for="doTheyPay">Do they pay:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="doTheyPay" ng-model="project.targetCustomer1.doTheyPayText" placeholder="Does this group pay for equivalent services or products?" ng-mouseleave="mouseleaveDoTheyPay = true">
              <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
            <div class="col-md-2">
              {{doTheyPaySaved}}
              <input id="input-id" type="number" data-size="xs" showClear="false" showCaption="false" data-symbol="$" ng-model="doTheyPayStarRatingValue">

{{ project.targetCustomer1.doTheyPayStarRatingValue }}

{{ doTheyPayStarRatingValue }}

            </div>
          </div>
        </div>   <!-- close Do They Pay -->

        <div class="panel panel-default" ng-show="mouseleaveDoTheyPay">   <!-- Pre-Adopters -->
          <div class="panel-body form-group has-success has-feedback">
            <label class="col-sm-2 control-label" for="preAdopters">Pre-Adopters:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="preAdopters" ng-model="project.targetCustomer1.preAdoptersText" placeholder="(B2C) Does this group have an early adopter group that you can work with?
              (B2B) Do you know a customer to partner with in building your MVP?" ng-mouseleave="mouseleavePreAdopters = true">
              <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
            <div class="col-md-2">
              {{preAdoptersSaved}}
            </div>
          </div>
        </div>   <!-- close Pre-Adopters -->

        <div class="panel panel-default" ng-show="mouseleavePreAdopters">   <!-- Customer Base -->
          <div class="panel-body form-group has-success has-feedback">
            <label class="col-sm-2 control-label" for="customerBase">Customer Base:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="customerBase" ng-model="project.targetCustomer1.customerBaseText" placeholder="Does this group have a large enough base to sell to?" ng-mouseleave="mouseleaveCustomerBase = true">
              <span class="glyphicon glyphicon-ok form-control-feedback"></span>
            </div>
            <div class="col-md-2">
              {{customerBasedSaved}}
            </div>
          </div>
        </div>   <!-- close Customer Base -->

        <div class="panel panel-default" ng-show="mouseleaveCustomerBase">   <!-- Customer Base -->
          <div class="panel-body">
            <div class="col-sm-6">Customer Score: {{customerScore}}</div>
            <div class="col-md-6 col-md-offset-8">
              <button type="button" class="btn btn-primary">Use This Customer</button>

            </div>
          </div>
        </div>   <!-- close Customer Base -->

      </div>
    </div> <!-- close panel around panels -->

    <div class="panel panel-default">   <!-- Panel around Other Targets -->
      <div class="panel-body">
        <h3 class="row text-center">
          Other Targets
        </h3>
        <div class="row">
          <div class="col-md-1">
            Score
          </div>
          <div class="col-md-5">
            Description
          </div>
          <div class="col-md-2">
            Do They Pay
          </div>
          <div class="col-md-2">
            Pre-Adopters
          </div>
          <div class="col-md-2">
            Customer Base
          </div>
        </div>

        <div class="panel panel-default">   <!-- Panel around target customer -->
          <div class="panel-body">
            <div class="row">
              <div class="col-md-1">
                7
              </div>
              <div class="col-md-5">
                {{ project.targetCustomer1.targetCustomerDefinition }}
              </div>
              <div class="col-md-2">
                <span class="glyphicon glyphicon-signal"></span>
              </div>
              <div class="col-md-2">
                <span class="glyphicon glyphicon-signal"></span>
              </div>
              <div class="col-md-2">
                <span class="glyphicon glyphicon-signal"></span>
              </div>
            </div>
          </div>
        </div> <!-- close panel around target customer -->

        <div class="panel panel-default">   <!-- Panel around target customer -->
          <div class="panel-body">
            <div class="row">
              <div class="col-md-1">
                7
              </div>
              <div class="col-md-5">
                {{ project.targetCustomer1.targetCustomerDefinition }}
              </div>
              <div class="col-md-2">
                <span class="glyphicon glyphicon-signal"></span>
              </div>
              <div class="col-md-2">
                <span class="glyphicon glyphicon-signal"></span>
              </div>
              <div class="col-md-2">
                <span class="glyphicon glyphicon-signal"></span>
              </div>
            </div>
          </div>
        </div> <!-- close panel around target customer -->

        <div class="panel panel-default">   <!-- Panel around target customer -->
          <div class="panel-body">
            <div class="row">
              <div class="col-md-1">
                7
              </div>
              <div class="col-md-5">
                {{ project.targetCustomer1.targetCustomerDefinition }}
              </div>
              <div class="col-md-2">
                <span class="glyphicon glyphicon-signal"></span>
              </div>
              <div class="col-md-2">
                <span class="glyphicon glyphicon-signal"></span>
              </div>
              <div class="col-md-2">
                <span class="glyphicon glyphicon-signal"></span>
              </div>
            </div>
          </div>
        </div> <!-- close panel around target customer -->


      </div>
    </div> <!-- close panel around Other Targets -->

    <!-- <div>
    <label for="isCustomer">Are you a target customer? </label><br />
    <input type="radio" name="isCustomer" ng-model="project.targetCustomer1.isCustomer" ng-value="true">
    Yes, I would use this product.
    <br />
    <input type="radio" name="isCustomer" ng-model="project.targetCustomer1.isCustomer" ng-value="false">
    No, I'm not a target customer.
    <br />
    <span ng-hide="project.targetCustomer1.isCustomer"><input type="checkbox" name="knowsCustomer" value="false" ng-model="project.targetCustomer1.knowsCustomer" /> Do you know anyone in this customer base?</span></input>
  </div> -->

  <!-- <div ng-show="mouseleaveTargetCustomer">
  <label for="doTheyPay">Do they pay: </label>
  <input type="text" name="doTheyPay" size="100" ng-model="project.targetCustomer1.doTheyPayText" placeholder="Does this group pay for equivalent servcies or products?" ng-mouseleave="mouseleaveDoTheyPay = true"/>
  <br />
  <input type="radio" name="doTheyPay5" ng-model="project.targetCustomer1.doTheyPayValue" ng-value=5>
  More than the rent on a San Francisco apartment!
  <br />
  <input type="radio" name="doTheyPay4" ng-model="project.targetCustomer1.doTheyPayValue" ng-value=4>
  More than the rent on an Omaha apartment.
  <br />
  <input type="radio" name="doTheyPay3" ng-model="project.targetCustomer1.doTheyPayValue" ng-value=3>
  Yes, about what they pay to fill up their Subarus.
  <br />
  <input type="radio" name="doTheyPay2" ng-model="project.targetCustomer1.doTheyPayValue" ng-value=2>
  Yes, but no more than they'd pay for a coffee at Starbucks.
  <br />
  <input type="radio" name="doTheyPay1" ng-model="project.targetCustomer1.doTheyPayValue" ng-value=1>
  Look in a Whole Foods dumpster, they throw out cases of it every night.
</div> -->

<!-- <div ng-show="mouseleaveDoTheyPay">
<label for="preAdopters">Pre-Adopters: </label>
<input type="text" name="preAdopters" size="100" ng-model="project.targetCustomer1.preAdoptersText" placeholder="(B2C) Does this group have an early adopter group that you can work with?<br />(B2B) Do you know a customer to partner with in building your MVP?" ng-mouseleave="mouseleaveTargetCustomerDefintion = true"/>
<br />
<span ng-hide="project.targetCustomer1.isCustomer"><input type="checkbox" name="knowsCustomer" value="false" ng-model="project.targetCustomer1.knowsCustomer" /> Do you know anyone in this customer base?</span></input>
</div> -->







<!-- <form ng-submit="defineTargetCustomer(targetCustomer)" name="newTargetCustomer">
<div>
<input type="submit" value="Add Another Target Customer"></input>
</div>
</form>

<a href="/#/"><button>Return to Home Page</button></a> -->

</div> <!-- col-md-6 -->

<div class="col-md-2">

  <div class="panel panel-default right-col-panel">
    <div class="panel-body">
      Your Evaluation Score<br />
      {{ project.evaluationScore }}
    </div>
  </div>

  <div class="panel panel-default right-col-panel">
    <div class="panel-body">
      External Score<br />
      {{ project.externalScore }}
    </div>
  </div>

  <div class="panel panel-default right-col-panel">
    <div class="panel-body">
      <div>Create Report</div>
      <div class="glyphicon glyphicon-level-up text-center"></div>
    </div>
  </div>

</div>


</div> <!-- container -->
