<div ng-controller="HomeController">

  <div ng-hide="authData">
    <p>Welcome, please log in.</p>
    <button ng-click="loginAnon()">Login Anonymously</button>

    <br />
    <button ng-click="loginGitHub()">Login With GitHub</button>
    <br />
    <button ng-click="loginFacebook()">Login With Facebook</button>
  </div>

  <div ng-show="authData">
    <p>Hello, {{ authData.facebook.displayName }} {{ authData.github.displayName }}</p>
    <img ng-src="{{ authData.github.cachedUserProfile.avatar_url }}" />
    <a href="/#/projectlist"><button>Go to your project list</button></a>
    <button ng-click="logout()">Logout</button>
    <a href="/#/userMgmt"><button>Manage Users</button></a>

    <p ng-if="authData">Logged in user: <strong>{{ authData.uid }}</strong></p>
    <p ng-if="error">Error: <strong>{{ error }}</strong></p>
  </div>

</div>

<!-- <div ng-hide="authData">
<button ng-click="loginFacebook()">Login With Twitter</button>
</div>

<br />

<div ng-hide="authData">
<button ng-click="loginFacebook()">Login With Google</button>
</div>

<br /> -->



<!-- <a href="/#/projectlist"><button>Login To Your Account</button></a> -->



<!-- Facebook like button
<div
class="fb-like"
data-share="true"
data-width="450"
data-show-faces="true">
</div>
-->
