<div ng-controller="userMgmtController">
  Email: <input type="text" ng-model="email">
  Password: <input type="text" ng-model="password">

  <br /><br />

  <button ng-click="createUser()">Create User</button>

  <br /><br />

  <button ng-click="removeUser()">Remove User</button>

  <p ng-if="message">Message: <strong>{{ message }}</strong></p>
  <p ng-if="error">Error: <strong>{{ error }}</strong></p>
</div>

<br /><br />

<div ng-repeat="user in users">

</div>

<a href="/#/"><button>Return to Home Page</button></a>
